@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'social.css';

html {
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #923C1F;
}
  
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #923C1F !important;
}

.marcas>.owl-stage-outer{
	padding-top: 30px;
	padding-bottom: 30px;
}

.owl-item{
	display: flex;
	justify-content: center;
	align-items: center;
}

.owl-prev, .owl-next{
	position: absolute;
	font-size: 30px !important;
	color: #923C1F !important;
}

.owl-prev{
	left: 20px;
	top: 120px;
}

.owl-next{
	right: 20px;
	top: 120px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}